.promo {
    background: $light;
    padding: 96px 0;
}

.promo_content {
    display: flex;
    align-items: center;
    gap: 111px;
    @media (max-width: $breakpoint-lg) {
        gap: 24px;

        img {
            width: 280px;
        }
    }
}

.promo_group p {
    margin-bottom: 32px;
}

