* {

    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;

}

body {

    margin: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: $base-color;
    line-height: 24px;

}

.container {

    max-width: $container-xl;
    margin: 0 auto;

    @media (max-width: $breakpoint-xl) {
        max-width: $container-lg;
    }

    @media (max-width: $breakpoint-lg) {
        max-width: $container-md;
    }

    @media (max-width: $breakpoint-md) {
        max-width: $container-sm;
    }

    @media (max-width: $breakpoint-sm) {
        max-width: 100%;
    }
}

h1 {

    font-size: 64px;
    line-height: 119%;
    font-weight: 600;
    color: $gray;
    margin-bottom: 16px;
    letter-spacing: 2px;

    span {
        color: $primary;
    }

    @media (max-width: $breakpoint-lg) {
        font-size: 48px;       
    }
    @media (max-width: $breakpoint-md) {
        font-size: 32px;
        letter-spacing: 0; 
    }

}

h2 {

    font-size: 36px;
    line-height: 122%;
    font-weight: 600;
    color: $gray;
    margin-bottom: 8px;
    letter-spacing: 1px; 

    span {
        color: $primary;
    }

    @media (max-width: $breakpoint-md) {
        font-size: 28px;
        letter-spacing: 0; 
    }

}

h3 {
    font-size: 28px;
    line-height: 128%;
    letter-spacing: 1px;
    color: $gray;
    @media (max-width: $breakpoint-md) {
        letter-spacing: 0;
    }
}

h4 {
    font-size: 20px;
    line-height: 140%;
    color: $gray;
    @media (max-width: $breakpoint-md) {
        letter-spacing: 0;
    }
}

ul {

    margin: 0;
    padding: 0;
    list-style: none;

}

a {

    color: $dark;
    text-decoration: none;

}

button {

    padding: 0;
    background: none;
    border: none;
    cursor: pointer;

}

.button_light-sm {

    font-family: 'Inter', serif;
    background: $light;
    border-radius: 6px;
    padding: 10px 20px;
    font-size: 14px;
    line-height: 143%;
    font-weight: 500;
    color: $primary

}

.button_primary-sm {

    background: $primary;
    border-radius: 6px;
    padding: 10px 21px;
    font-size: 14px;
    line-height: 140%;
    font-weight: 500;
    color: $light;

}

.button_primary-xl {

    background: $primary;
    border-radius: 4px;
    padding: 14px 32px;
    font-size: 16px;
    line-height: 150%;
    font-weight: 400;
    color: $white

}

.button_icon {

    padding: 12px;

    img {

        vertical-align: middle;

    }

}